.login__link,
.register__link {
  margin-top: 20px;
  text-align: center;
}
.login__button-submit,
.register__button-submit {
  text-decoration: none;
}



/* 以下set-profile.blade.phpのcss */
.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.profile-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.upload-label {
  margin-top: 8px;
  padding: 5px 10px;
  font-size: 14px;
  color: #f66;
  border: solid#f66 2px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.upload-input {
  display: none;
}

.update, .form__button-submit {
  margin: 0 auto;
}