.login__link,
.register__link {
  margin-top: 20px;
  text-align: center;
}
.login__button-submit,
.register__button-submit {
  text-decoration: none;
}


/* verifi-email.blade.phpのcss */
.authentication-guidance {
  margin: 100px auto;
  padding: 10px;
  text-align: center;
}

.authentication {
  text-align: center;
  margin-top: 100px;
}

.confirm-retry button {
  margin-top: 20px;
  border: none;
  background-color: #fff;
  color: rgb(41, 41, 148);
}

.authentication-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  background-color: #eee;
  border: solid 1px #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-retry {
  margin-top: 50px;
  border: none;
}


/* set-profile.blade.phpのcss */
.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: contain;
}

.profile-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.upload-label {
  margin-top: 8px;
  padding: 5px 10px;
  font-size: 14px;
  color: #f66;
  border: solid#f66 2px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.upload-input {
  display: none;
}

.update, .form__button-submit {
  margin: 0 auto;
}